//META{"name":"Dark-blurple","description":"Clean dark with blurple elements","author":"Thionkining","version":"1.0"}*//{}

.da-activityFeed {
	background: rgba(32,34,37,1) !important;
}

.theme-dark .headerBar-UHpsPw {
	background: rgba(32,34,37,1);
}

.da-searchBar {
	background: rgba(32,34,37,1) !important;
}

.scroller-2FKFPG {
	background: rgba(32,34,37,1);
}

.da-guildsscroller {
	background: rgba(32,34,37,1) !important;
}

.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
	background: rgba(32,34,37,1);
}

.header-2o-2hj:hover {
	background: rgba(32,34,37,1) !important;
}

.header-2o-2hj {
	background: rgba(32,34,37,1)!important;
}

.scroller-2FKFPG {
	background: rgba(32,34,37,1);
}

.theme-dark .markup-2BOw-j {
	color: #7289DA;
}

.chat-3bRxxu form {
	background: rgba(32,34,37,1);
}

.theme-dark .channelTextArea-rNsIhG {
	background: rgba(32,34,37,1);
}

.theme-dark .inner-zqa7da {
	background: rgba(32,34,37,1);
}

.messages-3amgkR {
	background: rgba(32,34,37,1);
}

.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
	background: rgba(32,34,37,1);
}

.theme-dark .textArea-2Spzkt {
	color: #7289DA;
}

.theme-dark .typing-2GQL18 {
	background: rgba(32,34,37,1);
}

.base-gE7OpD .cooldownWrapper-3joyFc {
	color: #7289DA !important;
}

.theme-dark .members-1998pB {
	background: rgba(32,34,37,1);
}

.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA !important;
}

.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb {
	background: rgba(32,34,37,1) !important;
	border-color: #7289DA !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	background: rgba(0,0,0,1) !important;
	border-color: #7289DA !important;
}

.theme-dark .search .search-bar {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
	color: #7289DA;
}

.theme-dark .container-3ayLPN {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .option-96V44q.selected-rZcOL- {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .option-96V44q:after {
	background: rgba(32,34,37,1);
}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
	background: #7289DA;
	color: rgba(255,255,255,1)
}

.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
	background: rgba(32,34,37,1);
	color: rgba(255,255,255,1);
	border: 1px solid;
	border-color: #7289DA;
}

.content-dfabe7 {
	background: rgba(32,34,37,1);
}

.theme-dark .footer-2yfCgX {
	background: rgba(32,34,37,1);
}

.container-1UB9sr {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.inner-btChU7 .channel-SEolQq {
	color: rgba(255,255,255,1);
}

.theme-dark .container-2x5lvQ section {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .container-2x5lvQ header {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .cardPrimaryOutline-29Ujqw {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .paymentRow-2e7VM6 {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .summaryInfo-2QFKUg {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.pageActions-1SVAnA {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.header-1R_AjF {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.container-2zArDx {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .footer-2yfCgX {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .menu-Sp6bN1 {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.inner-3wn6Q5 {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .inviteRow-2L02ae:hover {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.Select .Select-menu {
	background: rgba(32,34,37,1);
}

.theme-dark .auditLog-3jNbM6 {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.search-bar {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .quickswitcher-3JagVE {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .input-2VB9rf {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.column-E5Tpw7 {
	background: rgba(32,34,37,1);
}

.theme-dark .header-1RC2Wb:hover {
	background: rgba(32,34,37,1);
}

.theme-dark .header-1RC2Wb {
	background: rgba(32,34,37,1);
}

.theme-dark .body-SKIE6r {
	background: rgba(32,34,37,1);
}

.channel-2QD9_O.selected-1HYmZZ a {
	background: #7289DA;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .footer-1fjuF6 {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .quickMessage-1yeL4E {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.autocompleteInner-zh20B_ {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .selectorSelected-1_M1WV {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark #friends .friends-table .friends-table-header {
	background: rgba(32,34,37,1);
}

.theme-dark #friends {
	background: rgba(32,34,37,1);
}

.theme-dark .header-39GIC8 {
	background: rgba(32,34,37,1);
}

.uploadModal-2ifh8j .inner-3nWsbo {
	background: rgba(32,34,37,1);
	border: 1px dashed;
	border-color: #7289DA;
}

.uploadModal-2ifh8j .footer-3mqk7D {
	background: rgba(32,34,37,1);
}

.uploadModal-2ifh8j {
	background: rgba(32,34,37,1);
}

.theme-dark .search-results-wrap .search-header {
	background: rgba(32,34,37,1);
} 

.theme-dark .search-results-wrap .channel-separator .channel-name {
	background: rgba(32,34,37,1);
	color: rgba(255,255,255,1);
}

.theme-dark .search-results-wrap .search-result .search-result-message.hit {
	background: rgba(32,34,37,1);
}

.theme-dark .search-results-wrap .search-result:after {
	background: transparent;
}

.clickOverride-1J40_l {
	background: transparent;
}

.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
	background: #7289DA; 
}

.theme-dark .cardPrimary-1Hv-to {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .cardPrimaryEditable-3KtE4g {
	background: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.unread-1xRYoj {
	background-color: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.unread-1xRYoj:hover {
	background-color: rgba(32,34,37,1);
	border: 1px solid;
	border-color: #7289DA;
}

.theme-dark .isMentioned-N-h9aa .mention:hover, .theme-light .isMentioned-N-h9aa .mention:hover {
	color: rgba(255,255,255,1);
}

.theme-dark .isMentioned-N-h9aa .mention, .theme-light .isMentioned-N-h9aa .mention {
	color: rgba(255,255,255,1);
}

.theme-dark .isMentioned-N-h9aa {
	background: rgba(114,137,218,0.3); 
}

.isMentionedCozy-3isp7y:after {
	background: rgba(255,255,255,1);
	border-left: 4px solid rgba(255,255,255,1);
}

.theme-dark .wrapperHover-1GktnT:hover {
	color: rgba(255,255,255,1);
}

.theme-dark .wrapper-3WhCwL {
	color: rgba(255,255,255,1);
	background: rgba(114,137,218,0.5);
}