.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.theme-dark .messagesWrapper-31ZDfY {
background: rgba(0,0,0,0.3) !important;}

.theme-dark .guildsWrapper-5TJh6A {
background: rgba(0,0,0,1) !important;}

.theme-dark .typing-2GQL18 {
background: rgba(0,0,0,0.3) !important;}

.messages-3amgkR {
background: rgba(0,0,0,1) !important;}

.flex-spacer {
background: rgba(0,0,0,1) !important;}

.theme-dark .membersGroup-v9BXpm {
background: rgba(0,0,0,0.5) !important;}

.theme-dark .members-1998pB {
background: rgba(0,0,0,1) !important;}

.scroller-2wx7Hm {
background: rgba(0,0,0,0.8) !important;}

.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
background: rgba(0,0,0,1) !important;}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
background: rgba(16,52,166,0.3) !important;}

.messages-3amgkR::-webkit-scrollbar-track-piece, 
.messages-3amgkR::-webkit-scrollbar-track {
background: rgba(0,0,0,0.3) !important;
border-color: rgba(16,52,166,0.3) !important;}

.messages-3amgkR::-webkit-scrollbar-thumb {
background-color: rgba(16,52,166,0.5) !important;
border-color: rgba(16,52,166,0.5) !important;}

.theme-dark .title-3qD0b- {
background: rgba(0,0,0,1) !important;}

.header-2o-2hj:hover {
background: rgba(0,0,0,0.5) !important;}

.header-2o-2hj {
background: rgba(0,0,0,1) !important;}

.scroller-2FKFPG {
background: rgba(0,0,0,1) !important;}

.videoInner-3OR9J2 {
background: rgba(0,0,0,0.8) !important;}

.private-channels .search-bar {
background: rgba(0,0,0,0.8) !important;}

.search-bar .da-searchBar {
background: rgba(0,0,0,1) !important;}

.private-channels .search-bar .search-bar-inner input {
background: rgba(0,0,0,0.8) !important;}

div.search-bar.da-searchBar {
background:rgba(0,0,0,1) !important;}

.content-20Aix8 {
background: rgba(0,0,0,0.5) !important;}

.contentHoveredText-2D9B-x {
background: rgba(16,52,166,0.5) !important;}

.anchor-3Z-8Bb {
color: rgba(16,52,166,1) !important;}

.wrapperHover-1GktnT {
background: rgba(16,52,166,0.3) !important;}

.theme-dark .textArea-2Spzkt {
background: rgba(16,52,166,0.2) !important;}

.attachButton-1UjEWA {
background: rgba(16,52,166,0.2) !important;}

.scrollbarGhostHairline-1mSOM1 {
background: rgba(16,52,166,0.2) !important;}

.theme-dark .inner-zqa7da {
background: rgba(16,52,166,0.2) !important;}

.typeWindows-1za-n7 {
background: rgba(0,0,0,1) !important;}

.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j .inline {
background: rgba(0,0,0,0.8) !important;}

.theme-dark .headerBar-UHpsPw {
background: rgba(0,0,0,1) !important;}

.theme-dark .lookFilled-1Gx00P {
background: rgba(0,0,0,0.3) !important;}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
background: rgba(0,0,0,0.8) !important;}

.missingAccess-3szpts {
background: rgba(0,0,0,0.8) !important;}

.theme-dark #friends .friends-table .friends-table-header {
background: rgba(0,0,0,0.8) !important;}

.theme-dark #friends {
background: rgba(0,0,0,1) !important;}

.theme-dark .header-1RC2Wb {
background: rgba(0,0,0,0.8) !important;}

.theme-dark .body-SKIE6r {
background: rgba(0,0,0,0.8) !important;}

.private-channels .channel:hover a {
background: rgba(16,52,166,0.8) !important;}

.uploadModal-2ifh8j {
background: rgba(0,0,0,0.8) !important;}

.uploadModal-2ifh8j .footer-3mqk7D {
background: rgba(0,0,0,0.8) !important;}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
background: rgba(16,52,166,0.5) !important;}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
background: rgba(16,52,166,0.8) !important;}

.theme-dark .quickswitcher-3JagVE {
background: rgba(0,0,0,0.8) !important;}

.theme-dark .input-2VB9rf {
background: rgba(0,0,0,0.5) !important;}

.privateChannels-1nO12o .channel-2fhmY8:hover .selectedLink-3dsNZ6 {
background: rgba(16,52,166,0.8) !important;}

.privateChannels-1nO12o .channel-2fhmY8 .selectedLink-3dsNZ6 {
background: rgba(16,52,166,0.8) !important;}

.newMessagesBar-mujexs button:first-child {
background: rgba(16,52,166,0.8) !important;}

.newMessagesBar-mujexs button:last-child {
background: rgba(16,52,166,0.8) !important;}

.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
background: rgba(16,52,166,1) !important;}